<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Person",
  "name": "Will Nye",
  "alternateName": "William Nye",
  "url": "https://www.williamnye.co.uk/",
  "image": "https://secure.gravatar.com/avatar/0c9f96460327c18df31e5148586a1edf?s=150&d=mm&r=g",
  "sameAs": [
    "https://twitter.com/williamjnye",
    "https://www.linkedin.com/in/willnye/",
    "https://builtvisible.com/author/willnye/"
  ],
  "jobTitle": "Head of SEO",
  "worksFor": {
    "@type": "Organization",
    "name": "Builtvisible"
  }  
}
</script>