<aside class="p-share">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Facebook" class="fb" target="_blank" rel="nofollow"></a>
  <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="Twitter" class="tw" target="_blank" rel="nofollow"></a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" title="LinkedIn" class="li" target="_blank" rel="nofollow"></a>
</aside>
